{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Folhas Principais-->

    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <title>Consultar Livro</title>
</head>

<body>

    <!--Container Principal-->

    <div class="container">

        <!--Header Principal-->

        <div class="header">

            <!--Barra de Navegação-->

            <div class="nav">

                <!--Navegação Esquerda-->

                <div class="nav-left">
                    <div class="nav-text-primary">
                        <style type="text/css">
                            a:link {
                                text-decoration: none;
                            }
                        </style>
                        <a href="/" class="text-decoration">
                            <h2>Buks</h2>
                            <p>A biblioteca que move o mundo...</p>
                        </a>
                    </div>
                </div>

                <!--Navegação Direita-->

                <div class="nav-right">
                    <div class="my-account">
                        <img src="../assets/my-account.svg" alt="">
                        <p>Minha Conta</p>
                    </div>
                </div>
            </div>

            <!--Fim da Barra de Navegação-->

        </div>

        <!--Fim do Container Principal-->

        <!--Aba de Opções-->

        <div class="list">

            <!--Conteudo das listas-->

            <div class="list-content">
                <ul>
                    <li><a class="tablinks" href="/" title="Estante" id="defaultopenPage">Estantes</a></li>
                    <li><a class="tablinks active" href="#" title="Livros">Livros</a></li>
                    <li><a class="tablinks" title="Clientes">Clientes</a></li>
                    <li><a class="tablinks" title="Empréstimo">Empréstimo</a></li>
                    <li><a class="tablinks" title="Compras">Compras</a></li>
                    <li><a class="tablinks" title="Recebimento">Recebimento</a></li>
                    <li><a class="tablinks" title="Funcionarios">Funcionarios</a></li>
                </ul>
            </div>

            <!--Fim do Conteudo das listas-->

        </div>

        <!--Fim das Aba de Opções-->

        <!--Inicio do container Principal-->

        <div class="content">

            <!--Opação dos livros-->

            <div class="tabcontent" id="livro-content">

                <!--Livros-->

                <div class="livro">
                    <h1>Livros - opções</h1>
                    <div class="livro-option">
                        <div class="livro-option-button">
                            <a href="/register/book"><button type="button" class="btn-book" id="defaultBook">Cadastrar
                                    livro</button></a>
                            <a href="/update/book"><button type="button" class="btn-book">Alterar livro</button></a>
                            <a href="/read/book"><button type="button" class="btn-book activeButton">Consultar
                                    livro</button></a>
                            <a href="/delete/book"><button type="button" class="btn-book">Excluir livro</button></a>
                        </div>
                    </div>
                    <div class="livro-pages">
                        <div class="livroContent" id="consultaLivro">
                            <div class="consulta-content">
                                <div class="consulta-content-content">
                                    <div class="read-book-form-body">
                                        <div class="read-book-form-top">
                                            <div class="row-read-photo">
                                                <div class="photo-content">
                                                    <img src="{{ Livro.capa.url }}" alt="">
                                                </div>
                                            </div>
                                            <div class="row-read-info">
                                                <div class="row-read-content">
                                                    <label for="{{ form.isbn.id_for_label }}">ISBN</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.isbn.id_for_label }}" name="{{ form.isbn.name }}"
                                                        value="{{ form.isbn.value|default_if_none:'' }}" readonly>
                                                    <label for="{{ form.titulo.id_for_label }}">Título</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.titulo.id_for_label }}"
                                                        name="{{ form.titulo.name }}"
                                                        value="{{ form.titulo.value|default_if_none:'' }}" readonly>
                                                </div>
                                                <div class="row-read-content">
                                                    <label for="{{ form.subtitulo.id_for_label }}">Subtítulo</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.subtitulo.id_for_label }}"
                                                        name="{{ form.subtitulo.name }}"
                                                        value="{{ form.subtitulo.value|default_if_none:'' }}" readonly>
                                                    <label for="{{ form.autor.id_for_label }}">Autor</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.autor.id_for_label }}" name="{{ form.autor.name }}"
                                                        value="{{ form.autor.value|default_if_none:'' }}" readonly>
                                                </div>
                                                <div class="row-read-content">
                                                    <label for="{{ form.editora.id_for_label }}">Editora</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.editora.id_for_label }}"
                                                        name="{{ form.editora.name }}"
                                                        value="{{ form.editora.value|default_if_none:'' }}" readonly>
                                                    <label for="{{ form.edicao.id_for_label }}">Edição</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.edicao.id_for_label }}"
                                                        name="{{ form.edicao.name }}"
                                                        value="{{ form.edicao.value|default_if_none:'' }}" readonly>
                                                </div>
                                                <div class="row-read-content">
                                                    <label for="{{ form.ano.id_for_label }}">Ano</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.ano.id_for_label }}" name="{{ form.ano.name }}"
                                                        value="{{ form.ano.value|default_if_none:'' }}" readonly>
                                                    <label for="{{ form.paginas.id_for_label }}">Nº de Páginas</label>
                                                    <input type="text" style="width: 30%;"
                                                        id="{{ form.paginas.id_for_label }}"
                                                        name="{{ form.paginas.name }}"
                                                        value="{{ form.paginas.value|default_if_none:'' }}" readonly>
                                                </div>
                                                <div class="row-read-content">
                                                    <label for="{{ form.genero.id_for_label }}">Gênero</label>
                                                    <input type="text" style="width: 20%;"
                                                        id="{{ form.genero.id_for_label }}"
                                                        name="{{ form.genero.name }}"
                                                        value="{{ form.genero.value|default_if_none:'' }}" readonly>
                                                    <label for="{{ form.quantidade.id_for_label }}">Quantidade</label>
                                                    <input type="text" style="width: 15%;"
                                                        id="{{ form.quantidade.id_for_label }}"
                                                        name="{{ form.quantidade.name }}"
                                                        value="{{ form.quantidade.value|default_if_none:0 }}" readonly>
                                                    <label for="{{ form.is_new.id_for_label }}">Novo</label>
                                                    <label class="switch">
                                                        <input type="checkbox" class="btn-slider"
                                                            {% ifequal form.is_new.value True  %} checked="true"
                                                            {% endifequal %} id="{{ form.is_new.id_for_label }}"
                                                            name="{{ form.is_new.name }}" disabled>
                                                        <span class="slider"></span>
                                                    </label>
                                                </div>
                                                <div class="row-read-content">
                                                    <label for="{{ form.preco_compra.id_for_label }}">Preço
                                                        Compra</label>
                                                    <input type="text" style="width: 25%;"
                                                        id="{{ form.preco_compra.id_for_label }}"
                                                        name="{{ form.preco_compra.name }}"
                                                        value="{{ form.preco_compra.value|default_if_none:'' }}"
                                                        readonly>

                                                    <label for="{{ form.preco_venda.id_for_label }}">Preço Venda</label>
                                                    <input type="text" style="width: 25%;"
                                                        id="{{ form.preco_venda.id_for_label }}"
                                                        name="{{ form.preco_venda.name }}"
                                                        value="{{ form.preco_venda.value|default_if_none:'' }}"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="read-book-form-bottom">
                                            <div class="row-read-sinopse">
                                                <label class="label-sinopse"
                                                    for="{{ form.sinopse.id_for_label }}">Sinopse</label>
                                                <input class="sinopse-text" id="{{ form.sinopse.id_for_label }}"
                                                    name="{{ form.sinopse.name }}"
                                                    value="{{ form.sinopse.value|default_if_none:'' }}"
                                                    placeholder="Resumo básico da hisória do Livro..."
                                                    style="width: 88%; height: 60px; text-align: center;"
                                                    readonly></input>
                                            </div>
                                        </div>
                                        <div class="read-book-form-btn">
                                            <a href="/read/book"><button type="button">Voltar</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fim dos Livros-->

            </div>

            <!--Fim das Opação dos livros-->

        </div>

        <!--Fim do container Principal-->

    </div>
</body>

</html>