{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Folhas Principais-->

    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <title>Cadastrar Livro</title>
</head>

<body>

    <!--Container Principal-->

    <div class="container">

        <!--Header Principal-->

        <div class="header">

            <!--Barra de Navegação-->

            <div class="nav">

                <!--Navegação Esquerda-->

                <div class="nav-left">
                    <div class="nav-text-primary">
                        <style type="text/css">
                            a:link {
                                text-decoration: none;
                            }
                        </style>
                        <a href="/" class="text-decoration">
                            <h2>Buks</h2>
                            <p>A biblioteca que move o mundo...</p>
                        </a>
                    </div>
                </div>

                <!--Navegação Direita-->

                <div class="nav-right">
                    <div class="my-account">
                        <img src="{% static '/images/my-account.svg' %}" alt="">
                        <p>Minha Conta</p>
                    </div>
                </div>
            </div>

            <!--Fim da Barra de Navegação-->

        </div>

        <!--Fim do Container Principal-->

        <!--Aba de Opções-->

        <div class="list">

            <!--Conteudo das listas-->

            <div class="list-content">
                <ul>
                    <li><a class="tablinks" href="/" title="Estante" id="defaultopenPage">Estantes</a></li>
                    <li><a class="tablinks active" href="#" title="Livros">Livros</a></li>
                    <li><a class="tablinks" title="Clientes">Clientes</a></li>
                    <li><a class="tablinks" title="Empréstimo">Empréstimo</a></li>
                    <li><a class="tablinks" title="Compras">Compras</a></li>
                    <li><a class="tablinks" title="Recebimento">Recebimento</a></li>
                    <li><a class="tablinks" title="Funcionarios">Funcionarios</a></li>
                </ul>
            </div>

            <!--Fim do Conteudo das listas-->

        </div>

        <!--Fim das Aba de Opções-->

        <!--Inicio do container Principal-->

        <div class="content">

            <!--Opação dos livros-->

            <div class="tabcontent" id="livro-content">

                <!--Livros-->

                <div class="livro">
                    <h1>Livros - opções</h1>
                    <div class="livro-option">
                        <div class="livro-option-button">
                            <a href="/register/book"><button type="button" class="btn-book activeButton"
                                    id="defaultBook">Cadastrar
                                    livro</button></a>
                            <a href="/update/book"><button type="button" class="btn-book">Alterar livro</button></a>
                            <a href="/read/book"><button type="button" class="btn-book">Consultar livro</button></a>
                            <a href="/delete/book"><button type="button" class="btn-book">Excluir livro</button></a>
                        </div>
                    </div>
                    <div class="livro-pages">
                        <div class="livroContent" id="cadastroLivro">
                            <div class="cadastro-content">
                                <div class="cadastro-form">
                                    <form method="POST" enctype="multipart/form-data" name="formResgisterBook">
                                        {% csrf_token %}
                                        <div class="row-cadastro-form">
                                            <input type="text" id="valid"
                                                value="{{ request.session.validRegisterBook }}">
                                            <label for="{{ form.isbn.id_for_label }}">ISBN</label>
                                            <input type="text" id="{{ form.isbn.id_for_label }}"
                                                name="{{ form.isbn.name }}"
                                                value="{{ form.isbn.value|default_if_none:'' }}"
                                                placeholder="Código ISBN" style="width: 40%;" id="teste1">
                                            <!-- {{ form.isbn.errors }} -->

                                            <label for="{{ form.capa.id_for_label }}">Capa</label>
                                            <input type="file" id="{{ form.capa.id_for_label }}"
                                                name="{{ form.capa.name }}"
                                                value="{{ form.capa.value|default_if_none:'' }}" style="width: 40%;">
                                            <!-- {{ form.capa.errors }} -->
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.titulo.id_for_label }}">Titulo</label>
                                            <input type="text" id="{{ form.titulo.id_for_label }}"
                                                name="{{ form.titulo.name }}"
                                                value="{{ form.titulo.value|default_if_none:'' }}"
                                                placeholder="Tútulo do Livro" style="width: 22%;">

                                            <label for="{{ form.subtitulo.id_for_label }}">Subtítulo</label>
                                            <input type="text" id="{{ form.subtitulo.id_for_label }}"
                                                name="{{ form.subtitulo.name }}"
                                                value="{{ form.subtitulo.value|default_if_none:'' }}"
                                                placeholder="Subtítulo do Livro" style="width: 22%;">

                                            <label for="{{ form.autor.id_for_label }}">Autor</label>
                                            <input type="text" id="{{ form.autor.id_for_label }}"
                                                name="{{ form.autor.name }}"
                                                value="{{ form.autor.value|default_if_none:'' }}"
                                                placeholder="Nome do Autor" style="width: 22%;">
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.editora.id_for_label }}">Editora</label>
                                            <input type="text" id="{{ form.editora.id_for_label }}"
                                                name="{{ form.editora.name }}"
                                                value="{{ form.editora.value|default_if_none:'' }}"
                                                placeholder="Nome da Editora" style="width: 22%;">

                                            <label for="{{ form.edicao.id_for_label }}">Edição</label>
                                            <input type="text" id="{{ form.edicao.id_for_label }}"
                                                name="{{ form.edicao.name }}"
                                                value="{{ form.edicao.value|default_if_none:'' }}" placeholder="Edição"
                                                style="width: 22%;">

                                            <label for="{{ form.ano.id_for_label }}">Ano</label>
                                            <input type="text" id="{{ form.ano.id_for_label }}"
                                                name="{{ form.ano.name }}"
                                                value="{{ form.ano.value|default_if_none:'' }}"
                                                placeholder="Ano do Livro" style="width: 22%;">
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.paginas.id_for_label }}">Nº de páginas</label>
                                            <input type="text" id="{{ form.paginas.id_for_label }}"
                                                name="{{ form.paginas.name }}"
                                                value="{{ form.paginas.value|default_if_none:'' }}"
                                                placeholder="Páginas" style="width: 20%;">

                                            <label for="{{ form.genero.id_for_label }}">Gênero</label>
                                            <input type="text" id="{{ form.genero.id_for_label }}"
                                                name="{{ form.genero.name }}"
                                                value="{{ form.genero.value|default_if_none:'' }}"
                                                placeholder="Gênero do Livro" style="width: 20%;">

                                            <label for="{{ form.is_new.id_for_label }}">Novo ou usado (binário)</label>

                                            <label class="switch">
                                                <input type="checkbox" class="btn-slider"
                                                    {% ifequal form.is_new.value True  %} checked="true"
                                                    {% endifequal %} id="{{ form.is_new.id_for_label }}"
                                                    name="{{ form.is_new.name }}">
                                                <span class="slider"></span>
                                            </label>
                                            <!-- {{ form.is_new.errors }} -->
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.preco_compra.id_for_label }}">Preço de compra</label>
                                            <input type="text" id="{{ form.preco_compra.id_for_label }}"
                                                name="{{ form.preco_compra.name }}"
                                                value="{{ form.preco_compra.value|default_if_none:'' }}"
                                                placeholder="R$ 0,00" style="width: 18%">

                                            <label for="{{ form.preco_venda.id_for_label }}">Preço de venda</label>
                                            <input type="text" id="{{ form.preco_venda.id_for_label }}"
                                                name="{{ form.preco_venda.name }}"
                                                value="{{ form.preco_venda.value|default_if_none:'' }}"
                                                placeholder="R$ 0,00" style="width: 18%">
                                            <!-- {{ form.errors }} -->

                                            <label for="{{ form.quantidade.id_for_label }}">Quantidade</label>
                                            <input type="text" id="{{ form.quantidade.id_for_label }}"
                                                name="{{ form.quantidade.name }}"
                                                value="{{ form.quantidade.value|default_if_none:0 }}" placeholder="Qtd"
                                                style="width: 8%">
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.sinopse.id_for_label }}">Sinopse</label>
                                            <input type="text" class="text-area" id="{{ form.sinopse.id_for_label }}"
                                                name="{{ form.sinopse.name }}"
                                                value="{{ form.sinopse.value|default_if_none:'' }}"
                                                placeholder="Resumo básico da hisória do Livro..."
                                                style="width: 88%; height: 60px;"></input>
                                        </div>

                                        <div class="row-cadastro-btn">
                                            <button type="reset">Limpar</button>
                                            <button type="button" id="book-register-confirm">Cadastrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fim dos Livros-->

            </div>

            <!--Fim das Opação dos livros-->

        </div>

        <!--Fim do container Principal-->

    </div>

    <script>

        //Referencia do Botao
        let $btnBookCadConfirm = document.getElementById('book-register-confirm');

        //Tela de Confirmação
        $btnBookCadConfirm.addEventListener('click', async function () {
            Swal.fire({
                'title': 'Confirmação!',
                'icon': 'warning',
                'text': 'Deseja confirmar essa operação?',
                'cancelButtonText': 'Não',
                'confirmButtonText': 'Sim',
                'showCancelButton': true,
                'showCloseButton': true,
            }).then((result) => {
                if (result.value) {
                    sendRegisterBook();
                }
            })


        })
    </script>

    <script>

        //Função para tratamento da tela de cofirmação
        window.onload = function () {
            let $valid = document.getElementById('valid').value;
            console.log($valid);
            if ($valid == "sim") {
                showSuccessRegister();
            }
        }
    </script>

    <!--Scripts do Projeto-->

    <script src="{% static 'js/alertas.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>

</body>

</html>