{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">]

    <!--Folhas Principais-->

    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <title>Alterar Livro</title>
</head>

<body>

    <!--Container Principal-->

    <div class="container">

        <!--Header Principal-->

        <div class="header">

            <!--Barra de Navegação-->

            <div class="nav">

                <!--Navegação Esquerda-->

                <div class="nav-left">
                    <div class="nav-text-primary">
                        <style type="text/css">
                            a:link {
                                text-decoration: none;
                            }
                        </style>
                        <a href="/" class="text-decoration">
                            <h2>Buks</h2>
                            <p>A biblioteca que move o mundo...</p>
                        </a>
                    </div>
                </div>

                <!--Navegação Direita-->

                <div class="nav-right">
                    <div class="my-account">
                        <img src="../assets/my-account.svg" alt="">
                        <p>Minha Conta</p>
                    </div>
                </div>
            </div>

            <!--Fim da Barra de Navegação-->

        </div>

        <!--Fim do Container Principal-->


        <!--Aba de Opções-->

        <div class="list">

            <!--Conteudo das listas-->

            <div class="list-content">
                <ul>
                    <li><a class="tablinks" href="/" title="Estante" id="defaultopenPage">Estantes</a></li>
                    <li><a class="tablinks active" href="#" title="Livros">Livros</a></li>
                    <li><a class="tablinks" title="Clientes">Clientes</a></li>
                    <li><a class="tablinks" title="Empréstimo">Empréstimo</a></li>
                    <li><a class="tablinks" title="Compras">Compras</a></li>
                    <li><a class="tablinks" title="Recebimento">Recebimento</a></li>
                    <li><a class="tablinks" title="Funcionarios">Funcionarios</a></li>
                </ul>
            </div>

            <!--Fim do Conteudo das listas-->

        </div>

        <!--Fim das Aba de Opções-->

        <!--Inicio do container Principal-->

        <div class="content">

            <!--Opação dos livros-->

            <div class="tabcontent" id="livro-content">
                <div class="livro">
                    <h1>Livros - opções</h1>
                    <div class="livro-option">
                        <div class="livro-option-button">
                            <a href="/register/book"><button type="button" class="btn-book" id="defaultBook">Cadastrar
                                    livro</button></a>
                            <a href="/update/book"><button type="button" class="btn-book activeButton">Alterar
                                    livro</button></a>
                            <a href="/read/book"><button type="button" class="btn-book">Consultar livro</button></a>
                            <a href="/delete/book"><button type="button" class="btn-book">Excluir livro</button></a>
                        </div>
                    </div>

                    <!--Livros-->

                    <div class="livro-pages">
                        <div class="livroContent" id="consultaLivro">
                            <div class="consulta-content">
                                <div class="consulta-content-content">
                                    <label for="">Digite o título do Livro que deseja alterar</label>
                                    <div class="row-consulta">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="text" id="valid" value="{{ request.session.validUpdateBook }}">
                                            <input name="search_book" type="text">
                                            <button type="submit">&#128269</button>
                                        </form>
                                    </div>
                                    <div class="search-result-procura">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>ISBN</th>
                                                    <th>Titulo</th>
                                                    <th>Alterar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%  for Livro in Livros %}
                                                <tr>
                                                    <td>{{ "ISBN: "}} {{ Livro.isbn }}</td>
                                                    <td>{{ "Título: "}} {{ Livro.titulo }}</td>
                                                    <td><a href="{% url 'Livros:update_book_form' Livro.isbn %}"
                                                            style="color: black;">&#9998</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Fim dos Livros-->

                </div>
            </div>

            <!--Fim das Opação dos livros-->

        </div>

        <!--Fim do container Principal-->

    </div>

    <script>

        //Função Para controle de validação
        window.onload = function () {
            let $valid = document.getElementById('valid').value;
            console.log($valid);
            if ($valid == "sim") {
                showSuccessUpdate();
            }
        }
    </script>

    <!--Scripts do Projeto-->

    <script src="{% static 'js/alertas.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>

</body>

</html>'
'